body{
  font-family:"Lucida Grande";
}

.home{
  padding-left:25px;
  padding-right:150px;
  margin-top:25px;
  font-size:20px;
  float:left;
}

li{
  display: block;
  list-style:none;
  float:left;
  padding-top:30px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:15px;
  text-align:right;
  margin-right: auto;
}

.header{
  background-color:blue;
  width:auto;
  height:80px;
}
